{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="container">
<h2>About Me</h2>
<p>I am currently 16 years old, a Junior at SSFHS, and a fast swimmer for SSFAC. </p>

        <p>I love to play video games like:</p>

        <ul>
        <li>Grand Theft Auto 5</li>
        <li>Call of Duty Black Ops 2</li>
        <li>Player Unknown Battlegrounds</li>
        </ul>

        <p>When I grow up I would like to become a nurse</p>

        <p>Some of my favorite foods are:</p>

        <ul>
        <li>Burgers</li>
        <li>Pizza</li>
        <li>Noodles</li>
        </ul>

        <img src='static/images/Tree.jpg' alt='Tree'></img>
</div>
{% endblock %}