{% extends "base.html" %}

{% block title %}Class Schedule{% endblock %}

{% block content %}

        <h2>Class Schedule</h2>
        <table class="table table-striped table-bordered">
        <tr>
            <th>Period</th>
            <th>Class</th>
            <th>Teacher</th>
            <th>Sources</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course.period }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.teacher_name }}</td>
            <td><a href="{{ course.resource_url }}">{{ course.resource_name }}</a></td>
        </tr>
            {% endfor %}

            </table>

{% endblock %}